.box2 {
  width: 30px;
  padding: 22px;
  border: #000 solid 1px;
  padding: 60px;
  margin: 40px;
}

.box {
  padding: 20px; /* é a diferença entre a margin e o conteúdo(dentro do box) */
  margin: 20px; /* é a diferença entre a margin e o conteúdo(fora do box) */
  border: #000 solid 1px;
  width: 3px; /* é a largura do dox */
  height: 2px; /*é a altura do box  */
}
